<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Servin stuff with Node!</title>
</head>
<body>
  <h1>This is my users page!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga rem, quisquam eveniet, veniam voluptatem quis impedit officia eius, delectus natus, itaque qui vel. Quas perferendis, iure eligendi consequuntur. Libero, voluptas.
  </p>
  <footer>
    <p>
      I don't have any users yet.
    </p>
  </footer>
</body>
</html>
